@tailwind base;
@tailwind components;
@tailwind utilities;


/* Main styles for the entire application */
body {
  background-color: #f4f4f4;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: #10b981;
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: #10b981;
  color: white;
}